/*Navigation Section */

ul{
list-style-type:none;
background-color:#66ff99;
margin:0;
padding: 20px;
}
li{
  display: inline;
  padding: 20px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
.firstli{
  padding-right: 60%;
  padding-left: 0;
  font-family: 'Sansita Swashed', cursive;
  color: white;
  font-size: 30px;
}


.cd{
  width: 50%;
  height: 50%;
}
.h{
  background-color: #66ff66;
}
.tic{
  opacity:2;
}
.t{
  position:absolute;
  top:50%;
  left:25%;
  background-color: #00001a;
  opacity: 0.5;
  padding-right: 50px;
  padding-bottom: 30px;
}

.pi{
  display: inline;
  font-size: 30px;
  padding: 50px;
  color: white;
}
.i{
  display: inline;
  font-size: 20px;
  padding: 10px;
  color: white;
}
.j{
  display: inline;
  font-size: 25px;
  padding-left:65%;
  padding-bottom: 20px;
  color: white;
}
.k{
  background-color: #00001a;
  padding: 50px;
  opacity:0.5;
  position: absolute;
  top:1150px;
  width: 100%;
}
.l{
  background-color:#66ff99;
  padding: 50px;
  opacity:1;
  position:relative;
  top:10px;
  width: 100%;
}

.bu:hover{
  color:orange;
}

}
#hide1{
  display: none;
}
.eye{
  position: absolute;
  top:50%;
  left: 95%;
  color: white;
}
.thk{
 border-style: groove;
 background-color:  #cce6ff;
}